<div class="one">
  <h1>Broadcasting Help</h1>
  <p>
  Not sure how to broadcast? Here are the steps.
  </p>
  <h1>1. Download a broadcasting client</h1>
  <p>
  BUTT(broadcast using this tool) => <a href="https://danielnoethen.de/" target="_blank">BUTT</a> (windows)
  Altacast => <a href="http://www.altacast.com/index.php/downloads/" target="_blank">Altacast</a> (windows)
  <br />
  Ladiocast is good for mac => <a href="https://www.macupdate.com/app/mac/27022/ladiocast" target="_blank">Ladiocast</a>
  <br />
  Traktor works great too!
  <br />
  Also you can use shoutvst in a DAW like ableton => <a href="http://jsound.org/shoutvst/" target="_blank">shoutvst</a>
  </p>
  </p>
  <h1>2. Enter credentials </h1>
  Here is the info you need to enter in order to stream audio to our server. (You can also always see the connection info by clickin the "LIVE" link in the top navbar.)
  <pre>
  host: <%= "#{@current_radio.container_name}.streampusher.com" %>
  port: <%= @current_radio.liquidsoap_harbor_port %>
  username: your username (<%= current_user.username %>)
  password: your password
  mount: <%= "/#{@current_radio.container_name}" %>
  </pre>

  <br/>
  <%= image_tag "shoutvst_broadcasting.png" %>
  <br/>

  <h3>I'm using Traktor and there is no username field!</h3>
  There is a workaround for this.
  If your source client does NOT have a username field, you can enter it in the password field in this format:
  <pre>
  password: username and password separated by a semicolon. example: username;password
  </pre>

  <br/>
  <%= image_tag "traktor_broadcasting.png" %>
  <br/>

  <h3>Routing audio from other programs</h3>

  <p>
  You can use the program Soundflower to route audio to and from programs on your Mac.
  You can download it here:
  <a href="https://rogueamoeba.com/freebies/soundflower/" target="_blank">https://rogueamoeba.com/freebies/soundflower/</a>
  </p>

  <p>
  There is a video tutorial for this here:
  <a href="http://www.macworld.com/article/1159440/soundflower_capture.html" target="_blank">http://www.macworld.com/article/1159440/soundflower_capture.html</a>
  </p>

  <h1>3. SUBMIT YOUR SHOW TO THE SCHEDULE</h1>
  <p>
  When you are ready to do your show <a href="/schedule">add it to the schedule</a>.
  </p>
</div>
