<div class="one">
  <h1>BROADCASTING HELP</h1>
  <p>
  Not sure how to broadcast? Here are the steps.
  </p>
  <h1>1. GET AN ICECAST CLIENT</h1>
  <p>
  B.U.T.T. (broadcast using this tool) => <a href="http://sourceforge.net/projects/butt/">BUTT</a> (mac and windows)
  <br />
  Ladiocast is good for mac => <a href="https://www.macupdate.com/app/mac/27022/ladiocast">Ladiocast</a>
  <br />
  Traktor works great too!
  <br />
  Also you can use shoutvst in a DAW like ableton => <a href="http://jsound.org/shoutvst/">shoutvst</a>
  </p>
  </p>
  <h1>2. ENTER YOUR INFO </h1>
  Here is the info you need to enter in order to stream audio to our server:
  <pre>
  host: <%= "#{@current_radio.name}.streampusher.com" %>
  port: 9000
  username: your username (<%= current_user.username %>)
  password: your password
  mount: <%= "/#{@current_radio.name}" %>
  </pre>

  <br/>
  <%= image_tag "shoutvst_broadcasting.png" %>
  <br/>

  <h3>I'm using Traktor and there is no username field!</h3>
  There is a workaround for this.
  If your source client does NOT have a username field, you can enter it in the password field in this format:
  <pre>
  password: username and password separated by a semicolon. example: username;password
  </pre>

  <br/>
  <%= image_tag "traktor_broadcasting.png" %>
  <br/>

  <h1>3. SUBMIT YOUR SHOW TO THE SCHEDULE</h1>
  <p>
  When you are ready to do your show, please <a href="/shows/new">create a show</a>, then <a href="/schedule">add it to the schedule</a>.
  </p>
</div>
