<div class="one">
  <h1>BROADCASTING HELP</h1>
  <p>
  Not sure how to broadcast? Here are the steps.
  </p>
  <h1>1. GET AN ICECAST CLIENT</h1>
  <p>
  B.U.T.T. (broadcast using this tool) => <a href="http://sourceforge.net/projects/butt/">BUTT</a> (mac and windows)
  <br />
  Ladiocast is good for mac => <a href="https://www.macupdate.com/app/mac/27022/ladiocast">Ladiocast</a>
  <br />
  Traktor works great too!
  <br />
  Also you can use shoutvst in a DAW like ableton => <a href="http://jsound.org/shoutvst/">shoutvst</a>
  </p>
  </p>
  <h1>2. ENTER YOUR INFO </h1>
  Here is the info you need to enter in order to stream audio to our server. (You can also always see the connection info by clickin the "LIVE" link in the top navbar.)
  <pre>
  host: <%= "#{@current_radio.name}.streampusher.com" %>
  port: <%= @current_radio.liquidsoap_harbor_port %>
  username: your username (<%= current_user.username %>)
  password: your password
  mount: <%= "/#{@current_radio.name}" %>
  </pre>

  <br/>
  <%= image_tag "shoutvst_broadcasting.png" %>
  <br/>

  <h3>I'm using Traktor and there is no username field!</h3>
  There is a workaround for this.
  If your source client does NOT have a username field, you can enter it in the password field in this format:
  <pre>
  password: username and password separated by a semicolon. example: username;password
  </pre>

  <br/>
  <%= image_tag "traktor_broadcasting.png" %>
  <br/>

  <h3>Routing Audio into Ladiocast</h3>

  <p>
  You can use the program Soundflower to route audio to and from programs on your Mac.
  You can download it here:
  <a href="https://rogueamoeba.com/freebies/soundflower/">https://rogueamoeba.com/freebies/soundflower/</a>
  </p>

  <p>
  There is a video tutorial for this here:
  <a href="http://www.macworld.com/article/1159440/soundflower_capture.html">http://www.macworld.com/article/1159440/soundflower_capture.html</a>
  </p>

  <h1 style="font-size: 80px; color: red;">GET ON THE MIC AND DO SOME SHOUTOUTS</h1>
  <h1>
  Get a mic, <strong>use it!!!! Shout some people out!! Tell people about the twitter!! Tell people about the music you’re playing! Tell people what you had for breakfast! Tell people about upcoming events , online and offline!! Keep that chatterbox going mate. Seriously.</strong>
  </h1>

  <p>
  Don’t know how shoutouts work? Listen to this:
  <a href="http://ia800301.us.archive.org/12/items/grimetapes/grimetapes.com/Geeneus_GodsGift_BeatboxFamily_010800_vbr.mp3">http://ia800301.us.archive.org/12/items/grimetapes/grimetapes.com/Geeneus_GodsGift_BeatboxFamily_010800_vbr.mp3</a>
  </p>

  <p>
  Or <a href="http://rinse.fm">rinsefm</a>, <a href="http://sub.fm">subfm</a>, etc. etc.
  </p>

  <h1>3. SUBMIT YOUR SHOW TO THE SCHEDULE</h1>
  <p>
  When you are ready to do your show, please <a href="/shows/new">create a show</a>, then <a href="/schedule">add it to the schedule</a>.
  </p>

  <h1>4. AFTER THE SHOW</h1>

  <p>
  All shows are recorded automatically and <a href="http://twitter.com/freedrull">@freedrull</a> will upload them to the podcasts here:
  <a href="http://datafruits.fm/podcasts">datafruits.fm/podcasts</a>
  </p>

  <p>
  Of course you are free to post the recording on your own soundcloud or mixcloud if you want. :)
  </p>

  <h1>NEED HELP?!</h1>
  <p>
    If you get stuck or need help just hit up <a href="http://twitter.com/freedrull">@freedrull</a> or email info@datafruits.fm
  </p>
</div>
