<div class="row">
  <h1><%= @scheduled_show.title %></h1>
  <% if @scheduled_show.dj.present? %>
    <h3><%= "Host: #{@scheduled_show.dj.username}" %></h3>
  <% end %>
  <% if @scheduled_show.image.present? %>
    <div class="show-image">
    <%= image_tag @scheduled_show.image.url(:thumb) %>
  </div>
  <% end %>
  <p><%= "#{@scheduled_show.start} - #{@scheduled_show.end}" %></p>
  <p><%= html_pipeline(@scheduled_show.description).html_safe %></p>
  <div class="social">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%=tweet_text(@scheduled_show)%>">Tweet</a>
  </div>
  <div class="actions">
    <%= link_to "Edit", edit_scheduled_show_path(@scheduled_show) %>
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
