<%= stylesheet_link_tag    'embedded_player', media: 'all' %>
<%= javascript_include_tag 'embedded_track_player' %>
<div id="jquery_jplayer_1" class="jp-jplayer embed-track-player"
  data-mp3="<%= @track.audio_file_name =%>"
  data-radio-name="<%= @radio.name %>"
  data-icecast-json="<%= @radio.icecast_json %>" >
</div>
<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player"
  <% if @track.artwork.present? %>
    style="background-image: url('<%= @track.artwork.url %>')"
  <% end %>
  >
  <div class="jp-controls">
    <a class="jp-play" href="javascript:;" tabindex="1">▶︎</a>
    <a class="jp-pause" href="javascript:;" tabindex="1">❚❚</a>
    <a class="jp-loading" href="javascript:;" tabindex="1" style="display:none;">↻</a>
  </div>
  <span class="jp-title" aria-label="title"><%= @track.title %></span>
  <div class="logo">
    <%= link_to "https://streampusher.com", target: "_blank" do %>
      <%= image_tag "logo_black_small.png" %>
    <% end %>
  </div>
  <div class="jp-no-solution">
    <span>Update Required</span>
    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
  </div>
</div>
