<section class="signup">
  <h2>Sign up instantly</h2>
  <i>Start broadcasting right away</i>

  <%= form_for(@signup_form, url: registration_path(resource_name), html: { id: 'new_subscription' }) do |f| %>
    <% if @signup_form.any_errors? %>
      <div id="error_explanation">
        <ul>
          <% @signup_form.user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          <% @signup_form.radio.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="content">
      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "steve.aoki@dj.com" %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Make it a good one" %></div>

      <%= f.fields_for :radios do |r| %>
        <div><%= r.label :radio_name %><br />
        <%= r.text_field :name, placeholder: "dataveggies" %></div>
      <% end %>

      <div><%= f.submit "Sign up now", class: 'big-cta-btn' %></div>
    </div>
  <% end %>
</section>
