<section class="signup">
  <h2>Sign up instantly</h2>
  <i>Start broadcasting right away</i>

  <%= form_for(@signup_form, url: registration_path(resource_name), html: { id: 'new_subscription' }) do |f| %>
    <% if @signup_form.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@signup_form.errors.count, "error") %> prohibited this conference from being saved:</h2>

        <ul>
        <% @signup_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="content">
      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "steve.aoki@dj.com" %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Make it a good one" %></div>

      <%= f.fields_for :subscription do |s| %>
        <%= s.fields_for :radios do |r| %>
          <div><%= r.label :radio_name %><br />
            <%= r.text_field :name, placeholder: "My Awesome Radio Station" %></div>
        <% end %>

        <%= s.hidden_field :stripe_card_token %>
        <%= s.hidden_field :plan_id, value: 1 %>
      <% end %>

    <section class="creditly-wrapper">
          <h3><%= icon('lock') %> Secure Credit Card Payment</h3>
          <p><%= image_tag "cards.png" %></p>
        <div class="card-type" style="text-align:right;margin-top:10px;margin-right:10px;min-height:20px;margin-bottom:-15px"></div>
      </i>
      <div class="credit-card-wrapper">
        <div class="first-row form-group">
          <div class="col-sm-8 controls">
            <label class="control-label">Card Number</label>
            <input id="card_number" class="number credit-card-number form-control"
              type="text" name="number"
              inputmode="numeric"
              placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
          </div>
          <div class="col-sm-4 controls">
            <label class="control-label">CVV</label>
            <input id="card_code" class="security-code form-control"·
              inputmode="numeric"
              pattern="\d*"
              type="text" name="security-code"
              placeholder="&#149;&#149;&#149;">
          </div>
        </div>
        <div class="second-row form-group">
          <div class="col-sm-8 controls">
            <label class="control-label">Name on Card</label>
            <input class="billing-address-name form-control"
              type="text" name="name"
              placeholder="Steve Aoki">
          </div>
          <div class="col-sm-4 controls">
            <label class="control-label">Expiration</label>
            <input class="expiration-month-and-year form-control"
              id="card_exp"
              type="text" name="expiration-month-and-year"
              placeholder="MM / YY">
          </div>
        </div>
      </div>

      <div><%= f.submit "Sign up now", class: 'big-cta-btn' %></div>
    </div>
  <% end %>
</section>
