<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

<section class="signup">
  <h2>Sign up instantly</h2>
  <i>Start broadcasting right away</i>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: 'new_subscription') do |f| %>
    <%= devise_error_messages! %>

    <div class="content">
      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "steve.aoki@dj.com" %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Make it a good one" %></div>

      <div><%= f.label :radio_name %><br />
        <%= text_field_tag :radio_name, nil, placeholder: "My Awesome Radio Station" %></div>

    <section class="creditly-wrapper">
          <h3><%= icon('lock') %> Secure Credit Card Payment</h3>
          <p><%= image_tag "cards.png" %></p>
        <div class="card-type" style="text-align:right;margin-top:10px;margin-right:10px;min-height:20px;margin-bottom:-15px"></div>
      </i>
      <div class="credit-card-wrapper">
        <div class="first-row form-group">
          <div class="col-sm-8 controls">
            <label class="control-label">Card Number</label>
            <input id="card_number" class="number credit-card-number form-control"
              type="text" name="number"
              pattern="\d*"
              inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
              placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
          </div>
          <div class="col-sm-4 controls">
            <label class="control-label">CVV</label>
            <input id="card_code" class="security-code form-control"·
              inputmode="numeric"
              pattern="\d*"
              type="text" name="security-code"
              placeholder="&#149;&#149;&#149;">
          </div>
        </div>
        <div class="second-row form-group">
          <div class="col-sm-8 controls">
            <label class="control-label">Name on Card</label>
            <input class="billing-address-name form-control"
              type="text" name="name"
              placeholder="Steve Aoki">
          </div>
          <div class="col-sm-4 controls">
            <label class="control-label">Expiration</label>
            <input class="expiration-month-and-year form-control"
              type="text" name="expiration-month-and-year"
              placeholder="MM / YY">
          </div>
        </div>
      </div>

      <div><%= f.submit "Sign up now", class: 'button' %></div>
    </div>
  <% end %>
</section>
