<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel"><%= @playlist_track.track.file_basename %> - <%= @playlist_track.playlist.name %></h4>
    </div>
    <%= simple_form_for @playlist_track, remote: true do |f| %>
      <div class="modal-body">
        <%= f.input :podcast_published_date, as: :date %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
