<li data-type="playlist_track" data-playlist-track-id="<%=playlist_track.id%>" data-track-id="<%= playlist_track.track.id %>" class='track js-playlist-track-context-menu'>
  <button class="delete-from-playlist btn btn-danger">
    <i class="fa fa-times-circle"></i>
  </button>
  <%= playlist_track.track.display_name %>
  <%= link_to playlist_tracks_path, class: "add-to-playlist btn btn-primary", method: :post, remote: true do %>
    <i class="fa fa-plus-circle"></i>
  <% end %>
  <%= link_to edit_playlist_track_path(playlist_track), data: { "playlist-track-id" => playlist_track.id }, class: "edit-track btn btn-primary", remote: true do %>
    <i class="fa fa-pencil"></i>
  <% end %>
</li>
