<div class="row-fluid landing">
  <div class="container landing-top">
    <section id="header" class="pull-center">
      <h1 class="lead-copy-1">Start your own</h1>
      <h1 class="lead-copy-2">Internet Radio Station</h1>
      <%= image_tag "hero_logo_black.png", class: "hero-logo" %>
      <div class="hero-graphic">
        <%= image_set_tag "dashboard_scrot.png", {"dashboard_scrot_1200x601.png" => "1200w", "dashboard_scrot_600x301.png" => "600w"}, alt: "dashboard screenshot", class: "dashboard-screenshot", width: 1200 %>
      </div>
      <br/>
    </section>

    <br/>
  </div>
  <div class="container">
    <button type="button" data-toggle="modal" data-target="#cta-modal" class="big-cta-btn btn">Create your radio station now</button>
  </div>
  <br/>
  <br/>
    <div class="container">
      <div class="col-md-6">
        <h2>Auto dj system with seamless transitions to live DJs</h2>
        <p>Upload mp3s into a simple drag-n-drop playlist. When the live DJ connects and disconnects, the stream will transition to the auto DJ playlist automatically and seamlessly, with no listener interruptions.</p>
      </div>
      <div class="col-md-6">
      </div>
    </div>

    <div class="container">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <h2>Schedule your live djs and keep everyone in sync, no matter what timezone they are in</h2>
        <p>Just drag and drop shows into your radio's calendar. The calendar will appear in the logged-in user's timezone automatically. </p>
      </div>
    </div>

    <div class="container">
      <div class="col-md-6">
        <h2>Know your audience</h2>
        <p>Your listener stats are presented by-the-hour in beautiful graphs.</p>
        <p>Get insightful analytics and find which shows are driving the most listener engagement.</p>
      </div>
      <div class="col-md-6">
      </div>
    </div>

    <div class="container">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <h2>All live broadcasts are recorded automatically, export to a podcast or your favorite service</h2>
        <p>Export to your soundcloud or mixcloud account with <strong>one click</strong>.<p>
      </div>
    </div>

    <div class="container">
      <div class="col-md-6">
        <h2>Embed the stream on your website with easy copy and paste widgets</h2>
        <p>Just copy the provided HTML code for an instant embeddable player widget.</p>
      </div>
      <div class="col-md-6">
      </div>
    </div>

    <div class="container">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <h2>Get more listeners</h2>
        <p>
        Automatically submit your radio to tune in, icecast and shoutcast directories. Drive more listeners to your stream with automatic tweeting and Facebook posting.
        </p>
      </div>
    </div>

  <div class="container">
    <%= render 'pricing' %>
  </div>

  <div class="container">
    <section id="newsletter">
      <%= render 'cta_modal' %>
    </section>
  </div>

  <br />
  <br />
</div>
<% if Rails.env.production? %>
  <%= render 'layouts/ga' %>
<% end %>
