<h1>DXDF</h1>
<p>
The slots are divided into 30 min intervals. Click "Choose this slot" next to the time you would like to play.
</p>
<p>
You are welcome to play for 60 minutes instead, just pick two slots in a row!
</p>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
    <% @slots.each do |show| %>
      <tr>
        <td><%= show.start_at.strftime("%m/%d %H:%M %Z") %></td>
        <td><%= show.end_at.strftime("%m/%d %H:%M %Z") %></td>
        <% if show.new_record? %>
          <%= simple_form_for(show, url: anniversary_slots_url, as: :show) do |f| %>
            <%= f.input :start_at, as: :hidden, input_html: { value: show.start_at } %>
            <%= f.input :end_at, as: :hidden, input_html: { value: show.end_at } %>
            <td><%= f.submit value: "Choose this slot" %></td>
          <% end %>
        <% else %>
          <td><strong><%= link_to show.title, scheduled_show_path(show.id) %></strong></td>
          <% if show.dj == current_user %>
            <td><%= link_to "Delete", anniversary_slot_path(show), method: :delete %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
