<h2>Your invoice</h2>

<%= "Hey #{@user.username}," %>

<p>
We wanted to let you know your card was billed automatically for the amount of <%= "#{number_to_currency(@invoice[:amount].to_d/100)} #{@invoice[:currency].upcase}" %>.
</p>

<h3>Invoice ID</h3>
<%= @invoice[:id] %>
<h3>Plan</h3>
<%= @invoice[:plan_id] %>
<h3>Credit Card</h3>
<%= "****-****-****-#{@user.subscription.last_4_digits}" %>

<p>
Just a reminder, you can edit your subscription or billing details at any time here:
<%== edit_subscription_url(@user.subscription) %>
</p>

<p>
Thanks, let us know if you have any questions.
</p>
