<h2>
<%= "Hi #{@user.username}," %>
</h2>

<p>
Welcome to Streampusher.
</p>

<p>
Thanks for signing up. Let me show you how to get started.
</p>

<p>
The first thing you probably want to do is add some media and create some playlists for your radio to play.
</p>
<%== playlists_url %>

<p>
If you want to broadcast live, you can check the instructions for doing so on this page:
</p>
<%== broadcasting_help_url %>

<p>
Next you can add your live shows to the schedule:
</p>
<%== scheduled_shows_url %>

<p>
If you are ready to add other DJ accounts to your station, just go here:
</p>
<%== djs_url %>

<p>
If you have any questions, just reply to this email.
</p>

<p>
Thanks,
-Tony
</p>
