<% if @dj.persisted? %>
  <% url = dj_path(@dj) %>
<% else %>
  <% url = djs_path %>
<% end %>
<%= simple_form_for @dj, url: url, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :email %>
  <%= f.input :username %>
  <br/>
  <%= f.input :bio, input_html: { cols: 70, rows: 5 } %>
  <%= f.input :image, as: :file %>
  <% if @dj.image.present? %>
    <div class="show-image">
    <%= image_tag @dj.image.url(:thumb) %>
    </div>
    <%= link_to "Original Size", @dj.image.url(:original), :target => "_blank"  %>
  <% end %>
  <%= f.select :time_zone, ActiveSupport::TimeZone.all.sort.collect{|m| [m.to_s.split(") ").reverse.join(" -- ").concat(")"), m.name]},
    {}, class: 'chosen-select' %>
  <br/>
  <%= f.select :role, User::Roles::VALID_ROLES, selected: @dj.role || "dj" %>
  <br>
  <% if @dj.persisted? %>
    <%= f.submit "Save changes", class: 'btn btn-success', "data-disable-with" => "sending..."  %>
  <% else %>
    <%= f.submit "Signup new dj", class: 'btn btn-success', "data-disable-with" => "sending..."  %>
  <% end %>
<% end %>
