<%= simple_form_for @dj, url: djs_path, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :email %>
  <%= f.input :username %>

  <%= f.submit "Signup new dj" %>
<% end %>

<%= paginate @djs %>
<table class="table table-striped">
  <thead>
    <th>username</th>
  </thead>
  <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= dj.username %></td>
        <% if current_user.owner? %>
          <td><%= link_to 'edit', edit_dj_path(dj) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @djs %>
