<%= simple_form_for @dj, url: djs_path, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :email %>
  <%= f.input :username %>
  <br/>
  <%= f.select :time_zone, ActiveSupport::TimeZone.all.sort.collect{|m| [m.to_s.split(") ").reverse.join(" -- ").concat(")"), m.name]},
    {}, class: 'chosen-select' %>
  <br/>
  <%= f.submit "Signup new dj" %>
<% end %>

<%= paginate @djs %>
<table class="table table-striped">
  <thead>
    <th>username</th>
  </thead>
  <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= dj.username %></td>
        <td><%= dj.email  %></td>
        <td><%= dj.time_zone %></td>
        <% if current_user.owner? %>
          <td><%= link_to 'edit', edit_dj_path(dj) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @djs %>
