<%= render 'form' %>
<%= render 'search_form' %>
<%= paginate @djs %>
<table class="table table-striped">
  <thead>
    <th>username</th>
  </thead>
  <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= dj.username %></td>
        <td><%= dj.email  %></td>
        <td><%= dj.time_zone %></td>
        <td><%= dj.role %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'edit', edit_dj_path(dj) %></td>
        <% end %>
        <% if current_user.admin? %>
          <td><%= link_to 'sign in as', admin_sign_in_as_path(dj.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @djs %>
