<h2>Radio Settings</h2>
<%= simple_form_for @radio, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :default_playlist_id, collection: @current_radio.playlists, label_method: :name, value_method: :id, include_blank: false  %>
  <h3>TuneIn Integration</h3>
  Send metadata updates to your tunein stream.
  <%= f.input :tunein_metadata_updates_enabled, as: :boolean, label: "Enable sending metadata updates to TuneIn" %>
  <%= f.input :tunein_partner_id, label: "Tunein Partner ID" %>
  <%= f.input :tunein_partner_key, label: "Tunein Partner Key" %>
  <%= f.input :tunein_station_id, label: "Tunein Station ID" %>

  <h3>Share url for shows</h3>
  <p>example: http://www.myradio.com/shows/:show_id</p>
  <%= f.input :show_share_url %>

  <%= f.submit 'Save Settings', class: 'btn btn-success' %>
<% end %>

