<h1>Streampusher Subscription</h1>

<span>You are currently subscribed to the <b><%= @subscription.plan.name %></b> plan. <span>
    <% if @subscription.on_trial? %>
      There are <b><%= @subscription.trial_days_left %></b> on your free trial.
    <% end %>
<span> You can change your plan or update your billing info here.</span>

<% if @subscription.card_present? %>
  Current Billing Information:
  <table>
    <tr>
      <td><b>Card:</b></td>
      <td><%=@subscription.last_4_digits%></td>
    </tr>
    <tr>
      <td><b>Expires:</b></td>
      <td><%="#{@subscription.exp_month}/#{@subscription.exp_year}"%></td>
    </tr>
  </table>
<% end %>
<%= simple_form_for @subscription do |f| %>
  <%= f.input :plan_id, collection: Plan.all, label_method: :name, value_method: :id %>
  <%= f.hidden_field :stripe_card_token %>
  <%= render 'credit_card' %>

  <%= f.submit "Update" %>
<% end %>
