{{#if hasMixcloudAccount}}
  {{debugger}}
  {{#if track.mixcloudNotUploadedOrUploadFailed}}
    Connected mixcloud account: {{mixcloudAccountName}}
    <button {{action 'uploadToMixcloud'}} disabled={{isSaving}} class="btn btn-primary">Upload To Mixcloud</button>
  {{else if track.mixcloudUploading}}
    This track is currently being uploaded to Mixcloud.
    <div class="spinner">
    </div>
    Check back soon.
  {{else if track.mixcloudUploadComplete}}
    This track has been uploaded to Mixcloud.
    <a href="https://mixcloud.com{{track.mixcloudKey}}" target="_blank">https://mixcloud.com{{track.mixcloudKey}}</a>
  {{/if}}
{{else}}
  You haven't connected your mixcloud account yet. You can do so <a href="/social_identities">here</a>.
{{/if}}
