<div class="row">
  <h1 class="tracks-title">Playlists</h1>
</div>
<div class="row">
  <div class="col-md-6">
    {{#if isEditing}}
      <span class="playlist-title">{{input value=playlist.name enter='save'}}</span>
      <button disabled={{v-get playlist 'isInvalid'}} id="save-playlist" class="btn btn-primary" {{action 'save'}}>Save</button>
      <button class="btn" {{action 'cancelEditing'}}>Cancel</button>
      {{#if (v-get playlist 'name' 'isInvalid')}}
        <div class="error">
          {{v-get playlist 'name' 'message'}}
        </div>
      {{/if}}
    {{else}}
      <span class="playlist-title" {{action 'editPlaylist'}}>{{playlist.name}}</span>
    {{/if}}
    {{#if (not isEditing)}}
      <span id="playlist-selector" {{action 'selectPlaylist'}}><i class="fa fa-chevron-down"></i></span>
      <div class="playlists-selector-container">
        {{#if isSelectingPlaylist}}
          <div class="playlists-menu" {{action "selectPlaylist"}}>
            {{#each playlists as |selectablePlaylist|}}
              <span class="playlist-title">{{#link-to "playlists.show" selectablePlaylist.id}}{{selectablePlaylist.name}}{{/link-to}}</span>
              <br/>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
  <div class="col-md-3">
    <button {{action 'editPlaylistSettings'}} class="edit-playlist btn">
      Playlist Settings
    </button>
  </div>
  <div class="col-md-3">
    <button {{action 'newPlaylist'}} class="btn btn-success new-playlist-btn">
      <i class="fa fa-plus"></i>New Playlist
    </button>
  </div>
</div>
<div class="playlist-tracks-list">
  <table class="playlist-tracks table table-bordered">
    <thead>
    </thead>
    {{#sortable-group tagName="tbody" model=playlist onChange="reorderItems" as |group|}}
      {{#each playlist.sortedPlaylistTracks as |playlistTrack|}}
        {{#sortable-item tagName="tr" model=playlistTrack group=group handle=".playlist-track"}}
          {{playlist-track-li playlistTrack=playlistTrack}}
        {{/sortable-item}}
      {{/each}}
    {{/sortable-group}}
  </table>
</div>
{{#if isEditingSettings}}
  {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true close="editPlaylistSettings"}}
    <div class="modal-header">
      <button {{action "editPlaylistSettings"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Playlist Settings</h4>
    </div>
    <div class="modal-body">
      <h2>{{playlist.name}}</h2>
      <span>Created by: </span><b>{{playlist.createdBy}}</b>
      <br />
      <h4>Interpolate another playlist with this one (e.g. for jingles)</h4>
      <label>Enabled {{input type="checkbox" id="interpolated-playlist-enabled" name="interpolatedPlaylistEnabled" checked=playlist.interpolatedPlaylistEnabled}}</label>
      <br />
      <label>
        Every {{input type="number" name="interpolatedPlaylistTrackIntervalCount" value=playlist.interpolatedPlaylistTrackIntervalCount step="1"}}
      </label>
      <label>
        tracks, play {{input type="number" name="interpolatedPlaylistTrackPlayCount" value=playlist.interpolatedPlaylistTrackPlayCount step="1" }}
      </label>
      <label>tracks from the
        <select id="interpolated-playlist-select" onchange={{action "selectInterpolatedPlaylistId" value="target.value"}}>
          {{#each playlists as |interpolatedPlaylist|}}
            {{#if (eq-to-string playlist.interpolatedPlaylistId interpolatedPlaylist.id)}}
              <option value={{interpolatedPlaylist.id}} selected="selected">{{interpolatedPlaylist.name}}</option>
            {{else}}
              <option value={{interpolatedPlaylist.id}}>{{interpolatedPlaylist.name}}</option>
            {{/if}}
          {{/each}}
        </select>
      </label>
      playlist.
      <br />
      <h4>Shuffle</h4>
      <label>On {{input type="checkbox" id="shuffle" name="shuffle" checked=playlist.shuffle}}</label>
      <h4>Don't cut off tracks early for next show</h4>
      <label>Enabled {{input type="checkbox" id="no-cue-out" name="noCueOut" checked=playlist.noCueOut}}</label>
    </div>
    <div class="modal-footer">
      <button {{action "deletePlaylist"}} class="btn btn-danger">Delete playlist</button>
      <button {{action "saveSettings"}} class="btn btn-primary">Save changes</button>
    </div>
  {{/modal-dialog}}
{{/if}}
