{{#if hasSoundcloudAccount}}
  {{#if track.soundcloudNotUploadedOrUploadFailed}}
    Connected soundcloud account: {{soundcloudAccount.name}}
    <button {{action 'uploadToSoundcloud'}} disabled={{isUploading}} class="btn btn-primary">Upload To Soundcloud</button>
  {{else if track.soundcloudUploading}}
    This track is currently being uploaded to Soundcloud.
    <div class="spinner">
    </div>
    Check back soon.
  {{else if track.soundcloudUploadComplete}}
    This track has been uploaded to Soundcloud.
    <a href="https://soundcloud.com{{track.soundcloudKey}}" target="_blank">https://soundcloud.com{{track.soundcloudKey}}</a>
  {{/if}}
{{else}}
  You haven't connected your soundcloud account yet. You can do so <a href="/social_identities">here</a>.
{{/if}}
