<div class="row">
  <h1 class="tracks-title">Media Library</h1>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="wrapper">
      <i class="fa fa-search"></i>
      {{input class="search-tracks" autofocus="autofocus" value=filterText escape-press='clearSearch' placeholder="Search media"}}
    </div>
  </div>
  <div class="col-md-7">
    <div class="fileUpload btn btn-default">
      <i class="fa fa-plus"></i>Add
      {{track-uploader}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    {{#power-select-multiple
        placeholder="Search by tag..."
        options=labels
        selected=selectedLabels
        renderInPlace=true
        onchange=(action (mut selectedLabels))
        as |label|
    }}
      {{label.name}}
    {{/power-select-multiple}}
  </div>
</div>
<div class="tracks-list">
  <table class="table table-bordered">
    <tbody>
      {{#if isSearching}}
        {{#each filteredResults as |track|}}
          {{track-li track=track playlist=playlist labels=labels setIsSyncingPlaylist=setIsSyncingPlaylist}}
        {{/each}}
      {{else}}
        {{#each sortedTracks as |track|}}
          {{track-li track=track playlist=playlist labels=labels setIsSyncingPlaylist=setIsSyncingPlaylist}}
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>
