<td colspan="3">
  {{#if track.isUploading}}
    uploading {{track.audioFileName}}...
    <div class="meter">
      <span style="{{uploadProgressStyle}}"></span>
    </div>

  {{else}}
    <div class="flexcontainer">
      <span class="left uploaded-track-name truncate">{{track.displayName}}</span>
      {{#if track.artwork}}
        <img width="50" height="50" src={{file-url track.artwork 'thumb'}} />
      {{/if}}
      <a href="{{track.audioFileName}}" class="btn download"><i class="fa fa-download"></i></a>
      {{#link-to "playlists.tracks.show" track.id class="edit-track btn btn-primary"}}
        <i class="fa fa-pencil"></i>
      {{/link-to}}
      <button {{action 'addToPlaylist'}} disabled={{isAddingNewPlaylist}} class="add-track-to-playlist btn btn-success"> <i class="fa fa-plus-circle"></i></button>
    </div>
  {{/if}}
</td>
