<td colspan="3">
  {{#if track.isUploading}}
    uploading {{track.audioFileName}}...
    <div class="meter">
      <span style="width: {{track.roundedUploadProgress}}%"></span>
    </div>

  {{else}}
    <div class="flexcontainer">
      <span class="left uploaded-track-name">{{track.displayName}}</span>
      <a href="{{track.audioFileName}}" class="btn download"><i class="fa fa-download"></i></a>
      <button {{action 'editTrack'}} class="edit-track btn btn-primary"> <i class="fa fa-pencil"></i></button>
      <button {{action 'addToPlaylist'}} class="add-track-to-playlist btn btn-success"> <i class="fa fa-plus-circle"></i></button>
    </div>
    {{#if isEditing}}
      {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true close="editTrack"}}
        <div class="modal-header">
          <button {{action "editTrack"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Track - {{track.title}}</h4>
        </div>
        {{track.audioFileName}}
        <div class="modal-body">
          <form class="simple_form form-horizontal">
            <div class="control-group">
              <label class="control-label" for="artist">Artist</label>
              <div class="controls">
                {{input value=track.artist class="track-artist"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="title">Title</label>
              <div class="controls">
                {{input value=track.title class="track-title"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="album">Album</label>
              <div class="controls">
                {{input value=track.album class="track-album"}}
              </div>
            </div>
            <div class="control-group">
              <img src={{file-url track.artwork 'thumb'}} />
              {{artwork-file-upload file=track.artwork filename=track.artworkFilename}}
            </div>
            <br/>
            {{#if isSaving}}
              <div class="spinner">
              </div>
            {{/if}}
            <button {{action 'save'}} disabled={{isSaving}} class="btn btn-primary">Save</button>
            <button {{action 'cancel'}} disabled={{isSaving}} class="btn btn-default">Cancel</button>
            <button {{action 'destroy'}} disabled={{isSaving}} class="delete-track btn btn-danger"><i class="fa fa-trash-o"></i></button>
            <button {{action 'mixcloud'}} disabled={{isSaving}} class="btn btn-default"><i class="fa fa-mixcloud" aria-hidden="true"></i></button>
            <button {{action 'soundcloud'}} disabled={{isSaving}} class="btn btn-default"><i class="fa fa-soundcloud" aria-hidden="true"></i></button>
          </form>
        </div>
      {{/modal-dialog}}
    {{else if mixcloudDialog}}
      {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true close="mixcloud"}}
        <div class="modal-header">
          <button {{action "mixcloud"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload to Mixcloud - {{track.title}}</h4>
        </div>
        <div class="modal-body">
          Select mixcloud account
          <button {{action 'uploadToMixcloud'}} disabled={{isSaving}} class="btn btn-primary">Upload To Mixcloud</button>
        </div>
      {{/modal-dialog}}
    {{/if}}
  {{/if}}
</td>
