<td colspan="3">
  {{#if track.isUploading}}
    uploading {{track.audioFileName}}...
    <div class="meter">
      <span style="{{uploadProgressStyle}}"></span>
    </div>

  {{else}}
    <div class="flexcontainer">
      <span class="left uploaded-track-name truncate">{{track.displayName}}</span>
      {{#if track.artwork}}
        <img width="50" height="50" src={{file-url track.artwork 'thumb'}} />
      {{/if}}
      <a href="{{track.audioFileName}}" class="btn download"><i class="fa fa-download"></i></a>
      <button {{action 'editTrack'}} class="edit-track btn btn-primary"> <i class="fa fa-pencil"></i></button>
      <button {{action 'addToPlaylist'}} disabled={{isAddingNewPlaylist}} class="add-track-to-playlist btn btn-success"> <i class="fa fa-plus-circle"></i></button>
    </div>
    {{#if isEditing}}
      {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true onClose="editTrack"}}
        <div class="modal-header">
          <button {{action "editTrack"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Track - {{track.title}}</h4>
        </div>
        {{track.audioFileName}}
        <br/>
        <span>Uploaded by: </span><b>{{track.uploadedBy}}</b>
        <div class="modal-body">
          <form class="simple_form form-horizontal">
            <div class="control-group">
              <label class="control-label" for="title">Title</label>
              <div class="controls">
                {{input value=track.title class="track-title"}}
              </div>
            </div>
            <div class="control-group">
              <img width="300" height="300" src={{file-url track.artwork 'thumb'}} />
              {{artwork-file-upload file=track.artwork filename=track.artworkFilename}}
            </div>
            <br/>
            <div class="control-group">
              Uploaded at: {{track.createdAt}}
              <br/>
              Last updated at: {{track.updatedAt}}
            </div>
            <div class="control-group">
              {{track-labels-select labels=labels track=track}}
            </div>
            {{#if isSaving}}
              <div class="spinner">
              </div>
            {{/if}}
            <br/>
            <button {{action 'save'}} disabled={{isSaving}} class="btn btn-primary">Save</button>
            <button {{action 'cancel'}} disabled={{isSaving}} class="btn btn-default">Cancel</button>
            <button {{action 'destroy'}} disabled={{isSaving}} class="delete-track btn btn-danger"><i class="fa fa-trash-o"></i></button>
            <button {{action 'mixcloud'}} disabled={{isSaving}} class="btn btn-default"><i class="fa fa-mixcloud" aria-hidden="true"></i></button>
            <button {{action 'soundcloud'}} disabled={{isSaving}} class="btn btn-default"><i class="fa fa-soundcloud" aria-hidden="true"></i></button>

            <button {{action 'embed'}} disabled={{isSaving}} class="btn btn-default">Embed</button>
          </form>
        </div>
      {{/modal-dialog}}
    {{else if mixcloudDialog}}
      {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true onClose="mixcloud"}}
        <div class="modal-header">
          <button {{action "mixcloud"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload to Mixcloud - {{track.title}}</h4>
        </div>
        <div class="modal-body">
          {{#if hasMixcloudAccount}}
            {{#if track.mixcloudNotUploadedOrUploadFailed}}
              Connected mixcloud account: {{mixcloudAccount.name}}
              <button {{action 'uploadToMixcloud'}} disabled={{isSaving}} class="btn btn-primary">Upload To Mixcloud</button>
            {{else if track.mixcloudUploading}}
              This track is currently being uploaded to Mixcloud.
              <div class="spinner">
              </div>
              Check back soon.
            {{else if track.mixcloudUploadComplete}}
              This track has been uploaded to Mixcloud.
              <a href="https://mixcloud.com{{track.mixcloudKey}}" target="_blank">https://mixcloud.com{{track.mixcloudKey}}</a>
            {{/if}}
          {{else}}
            You haven't connected your mixcloud account yet. You can do so <a href="/social_identities">here</a>.
          {{/if}}
        </div>
      {{/modal-dialog}}
    {{else if soundcloudDialog}}
      {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true close="soundcloud"}}
        <div class="modal-header">
          <button {{action "soundcloud"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload to Soundcloud - {{track.title}}</h4>
        </div>
        <div class="modal-body">
          {{#if hasSoundcloudAccount}}
            {{#if track.soundcloudNotUploadedOrUploadFailed}}
              Connected soundcloud account: {{soundcloudAccount.name}}
              <button {{action 'uploadToSoundcloud'}} disabled={{isSaving}} class="btn btn-primary">Upload To Soundcloud</button>
            {{else if track.soundcloudUploading}}
              This track is currently being uploaded to Soundcloud.
              <div class="spinner">
              </div>
              Check back soon.
            {{else if track.soundcloudUploadComplete}}
              This track has been uploaded to Soundcloud.
              <a href="https://soundcloud.com{{track.soundcloudKey}}" target="_blank">https://soundcloud.com{{track.soundcloudKey}}</a>
            {{/if}}
          {{else}}
            You haven't connected your soundcloud account yet. You can do so <a href="/social_identities">here</a>.
          {{/if}}
        </div>
      {{/modal-dialog}}
    {{else if embedDialog}}
      {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true onClose="embed"}}
        <div class="modal-header">
          <button {{action "embed"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Embed - {{track.title}}</h4>
        </div>
        <div class="modal-body">
          Embed code and preview:
          <div>
            {{input focus-in="focusEmbedCode" id="embed-player-html" type="text" readonly="readonly" value=track.embedCode}}
          </div>
          {{{track.embedCode}}}
        </div>
      {{/modal-dialog}}
    {{/if}}
  {{/if}}
</td>
