<section class="signin">
  <h2>Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div><%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, autocapitalize: "off" %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>


<section class="signin">
<h2>Don't have an account? sign up...</h2>
    <% if @current_radio.try(:name) == "datafruits" %>
      <%= simple_form_for @current_radio.djs.new, url: sign_up_anniversary_slots_path, html: {class: 'form-horizontal'} do |f| %>
        <%= f.input :email %>
        <%= f.input :username %>
        <%= f.input :password %>
        <br/>
        <%= f.select :time_zone, ActiveSupport::TimeZone.all.sort.collect{|m| [m.to_s.split(") ").reverse.join(" -- ").concat(")"), m.name]},
          {}, class: 'chosen-select' %>
        <br/>
        <%= f.submit "Signup new dj", class: 'btn btn-success', "data-disable-with" => "sending..."  %>
      <% end %>
    <% end %>
</section>
