<div class="modal-dialog edit-track" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Edit playlist</h4>
    </div>
    <%= simple_form_for @playlist, remote: true do |f| %>
      <div class="modal-body">
        <%= f.input :name %>
        <br />
        <h4>Interpolate another playlist with this one (for jingles)</h4>
        <%= f.input :interpolated_playlist_track_play_count, label: "Every "%>
        <%= f.input :interpolated_playlist_track_interval_count, label: " tracks, play " %>
        <%= f.input :interpolated_playlist_id, collection: @current_radio.playlists, label_method: :name, value_method: :id, include_blank: "None", label: " tracks from the " %>
        playlist.
      </div>
      <div class="modal-footer">
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
