<script>
  window.playlists = {
  <% @playlists.each_with_index do |playlist,index| %>
    "<%=playlist.id%>": { name: "<%=playlist.name%>",
                            callback: function(key, options) {
                              playlistId = key;
                              console.log("playlist was clicked: "+playlistId);
                              trackId = $(this).data("track-id");
                              console.log("track_id: "+trackId);
                              window.addToPlaylist(trackId, playlistId);
                            }
                          },
  <% end %>
  };
</script>
<h1>playlists</h1>
<div class="row">
  <div class="col-md-6">
    <h3>upload new track</h3>
      <%= s3_uploader_form callback_url: tracks_url(format: :js),
                           callback_param: "track[audio_file_name]",
                           key_starts_with: "#{@current_radio.name}/",
                           key: "#{@current_radio.name}/{cleaned_filename}",
                           id: "track-uploader" do %>
      <%= file_field_tag :file, multiple: true, data: { url: s3_uploader_url } %>
      <div id="dropzone" class="drop-fade well">Drop files here</div>
    <% end %>
    <div id="status"></div>
    <script id="template-upload" type="text/x-tmpl">
      <div id="file-{%=o.unique_id%}" class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>
  </div>
  <div class="col-md-6">
    <h3>create new playlist</h3>
    <%= simple_form_for @playlist, remote: true do |f| %>
      <%= f.input :radio_id, as: :hidden, input_html: { value: @current_radio.id } %>
      <%= f.text_field :name, placeholder: 'enter new playlist name...' %>
      <%= f.submit '+ new playlist', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>tracks</h3>
    <ul id="tracks">
      <% @tracks.each do |track| %>
        <%= render track %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>playlist</h3>
    <ul id="playlists">
      <% @playlists.each do |playlist| %>
        <li class="playlist" data-playlist-id="<%=playlist.id%>">
          <%#= render playlist %>

        </li>
      <% end %>
    </ul>
  </div>
</div>
