<h2>Create Show</h2>
<%= simple_form_for @show, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :radio_id, as: :hidden, input_html: { value: @current_radio.id }  %>
  <% if current_user.dj? %>
    <label>Dj</label>
    <p><%= current_user.username %></p>
    <%= f.input :dj_id, input_html: { value: current_user.id }, as: :hidden  %>
  <% else %>
    <%= f.input :dj_id, collection: @current_radio.djs, label_method: :username, value_method: :id  %>
  <% end %>
  <%= f.input :playlist_id, collection: @current_radio.playlists, label_method: :name, value_method: :id  %>
  <p>Optional. This is the playlist that will play if you are unable to do your show for any reason.</p>
  <%= f.input :image, as: :file %>
  <%= f.input :title %>

  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>
