<%= simple_form_for @show, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :radio_id, @show.radio_id, as: :hidden %>
  <%= f.input :dj, collection: @current_radio.djs, label_method: :username, value_method: :id  %>
  <%= f.input :start_at %>
  <%= f.input :end_at %>

  <%= f.submit 'Add show' %>
<% end %>
<div id="calendar">
</div>
