<%= render 'form' %>

<h2>Shows</h2>
<table class="table table-striped">
  <thead>
    <th></th>
    <th>title</th>
    <th>host DJ</th>
    <th>playlist</th>
    <th></th>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= image_tag show.image.url(:thumb) %></td>
        <td><%= show.title %></td>
        <td><%= show.dj.try(:username) %></td>
        <td><%= show.playlist.try(:name) %></td>
        <% if can? :edit, show %>
          <td><%= link_to 'Edit', edit_show_path(show) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
