<table class="table table-striped">
  <thead>
    <th>username</th>
    <th>created at</th>
    <th>email</th>
    <th>link</th>
    <th>interval</th>
    <th>desired time</th>
    <th>approve</th>
  </thead>
  <tbody>
    <% @host_applications.each do |host_application| %>
      <tr>
        <td><%= host_application.email %></td>
        <td><%= host_application.created_at%></td>
        <td><%= host_application.username %></td>
        <td><%= host_application.link %></td>
        <td><%= host_application.interval %></td>
        <td><%= host_application.desired_time %></td>
        <% if host_application.approved? %>
          <td>Approved</td>
        <% else %>
          <td><%= button_to "Approve", host_application_approvals_path(host_application), class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
