<h1>podcasts</h1>
<div class="row">
  <% if can? :create, Podcast %>
    <%= render 'form' %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <th>name</th>
    <th>playlist</th>
    <th>XML feed</th>
  </thead>
  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
        <td><%= podcast.name %></td>
        <td><%= podcast.playlist.try(:name) %></td>
        <td><%= link_to 'xml feed', podcast_path(id: podcast.name, format: :xml) %></td>
        <% if can? :edit, Podcast %>
          <td><%= link_to 'Edit', edit_podcast_path(podcast) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
