<h2>
<%= "Hey #{@user.username}," %>
</h2>

<p>
Your account on <%= @radio.name %> has been created.
</p>

<p>
Your username is <%= @user.username %>.
Your password is <%= @password %>. You can change your password <%== link_to "here.", edit_user_registration_url(@user) %>
</p>

<p>
You can log in <%== link_to "here.", login_url %>
</p>

<p>
Check out our DJ guide <a href="https://docs.google.com/document/d/1SJvZ5BeG8yUGVrskcwGR3KeMLbQO4GTVkpggJh_Ze8Y/edit?usp=sharing">here</a>.
</p>

<p>
Feel free to do a test stream whenever there is no other DJ or event scheduled.
</p>

<p>
Then when you have decided when you want to do your show, you can add it to the <%== link_to "schedule.", scheduled_shows_url %>. Feel free to grab any time slot that is open.
</p>

<p>
If you have any questions or need help with anything, just reply to this email!
</p>

<p>
Also feel free to <a href="https://discord.gg/KbNq4bb">join our discord chat!</a>
</p>

<p>
Thanks
</br >
-Tony
</p>
