<h2>
<%= "Hey #{@user.username}," %>
</h2>

<p>
Your account on <%= @radio.name %> has been created.
</p>

<p>
Your username is <%= @user.username %>.
Your password is <%= @password %>. Be sure to change it after you login.
</p>

<p>
You can log in here.
<%== login_url(host: @radio.virtual_host) %>
</p>

<p>
Here are the instructions for how to broadcast <%== link_to "help page.", broadcasting_help_url %>
</p>

<p>
Feel free to do a test stream whenever there is no other DJ or event scheduled.
</p>

<p>
Then when you have decided when you want to do your show, you can add it to the <%== link_to "schedule.", scheduled_shows_url %> for any open time you see.
</p>

<p>
If you have any questions or need help with anything, just reply to this email!
</p>

<p>
Thanks
-Tony
</p>
