<%= "Hey #{@user.username}," %>
====================================

Your account on <%= @radio.name %> has been created.

Your username is <%= @user.username %>.
Your password is <%= @password %>. You can change your password <%== link_to "here.", edit_user_registration_url(@user) %>

You can log in here.
<%== login_url(host: @radio.virtual_host) %>

Here are the instructions for how to broadcast <%== link_to "help page.", broadcasting_help_url %>

Feel free to do a test stream whenever there is no other DJ or event scheduled.

Then when you have decided when you want to do your show, you can add it to the <%== link_to "schedule.", scheduled_shows_url %> for any open time you see.

If you have any questions or need help with anything, just reply to this email!

Also feel free to <a href="https://discord.gg/KbNq4bb">join our discord chat!</a>

Thanks
-Tony
