<footer>
  <ul>
    <li>
      <%= link_to "https://twitter.com/streampusher" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://facebook.com/streampusher" do %>
        <i class="fa fa-facebook"></i>
      <% end %>
    </li>
    <li><%= link_to "Privacy Policy", page_path("privacy") %></li>
    <li><%= link_to "Terms of Service", page_path("terms") %></li>
    <li><%= link_to "Plans & Pricing", page_path("plans") %></li>
    <li><%= link_to "Help", help_url %></li>
  </ul>
</footer>
