<!DOCTYPE html>
<html>
<head>
  <title>Streampusher</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">

<%= render 'layouts/navbar' %>
<div class="container">
  <div id="flash-message">
    <% flash.each do |name, msg| %>
      <div id="<%= name %>" class='flash'>
        <%= msg %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</div>
<% if ENV['RAILS_ENV'] == 'production' %>
  <%= render 'layouts/ga' %>
<% end %>
</body>
</html>
