<!DOCTYPE html>
<html>
<head>
  <title>Streamify</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">

<%= render 'layouts/navbar' %>
<div class="container">
  <% flash.each do |name, msg| %>
    <div id="<%= name %>">
      <%= msg %>
    </div>
  <% end %>
  <%= yield %>
</div>
<%= render 'layouts/ga' %>
</body>
</html>
