<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATAFRUITS.FM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Now-playing metadata for the player web component %>
    <meta name="now-playing-title" content="">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" rel="stylesheet">

    <%= stylesheet_link_tag "home", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
