<!DOCTYPE html>
<html>
<head>
  <title>Streampusher: Start your own live streaming internet radio station</title>
  <%= render 'layouts/meta' %>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <% if Rails.env.production? %>
    <%= render 'layouts/rollbar' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if Rails.env.production? %>
    <%= render 'layouts/ga' %>
  <% end %>
</head>
<body data-timezone="<%=ActiveSupport::TimeZone::MAPPING[Time.zone.name]%>" data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">

<%= render 'layouts/navbar' %>
<% if user_signed_in? %>
  <%= render 'layouts/side_navbar' %>
  <%= render 'layouts/live' %>
<% end %>
<div class="container-fluid landing-container">
  <div id="flash-message">
    <% flash.each do |name, msg| %>
      <div id="<%= name %>" class='flash'>
        <%= msg %>
      </div>
    <% end %>
  </div>
  <%= yield %>
  <div class="modal fade" id="modal-holder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
</div>
<%= render 'layouts/footer' %>
<%= render 'layouts/olark' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
