<!DOCTYPE html>
<html>
<head>
  <title>Streampusher</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <meta name="google-site-verification" content="WhEwBCj8oXRQmgOCGBHbQB_zRJRgRb14GYddaT8_Edk" />
</head>
<body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">

<%= render 'layouts/navbar' %>
<% flash.each do |name, msg| %>
  <div id="<%= name %>">
    <%= msg %>
  </div>
<% end %>
<%= yield %>
<% if ENV['RAILS_ENV'] == 'production' %>
  <%= render 'layouts/ga' %>
<% end %>
</body>
</html>
